<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>F1Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Marcin Chowaniec" />

    <link rel="stylesheet" href="{$conf->styles}/main.css" />
    <link rel="stylesheet" href="{$conf->styles}/public.css" />
    <link rel="stylesheet" href="{$conf->styles}/login.css" />
  </head>
  <body>
    {block name=content} Zawartość contentu... {/block}
  </body>
</html>
