.artykul-main {
  width: 70vw;
  min-height: 70vh;
  height: auto;
  margin: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px 30px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.artykul-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 350px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.artykul-img img {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

.artykul-text h3 {
  margin: 0px 5px 10px 5px;
}

@media screen and (max-width: 900px) {
  .artykul-main {
    width: 90vw;
  }

  .artykul-content {
    width: 70vw;
  }

  .artykul-img img {
    width: 50vw;
  }
}
