.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
  width: 80vw;
  text-align: center;
  justify-content: right;
  margin-right: 2rem;
}

.nav-items .logoF1 {
  margin: 20px;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px #fff;
  width: 20vw;
}

.nav-link a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-link a:hover {
  background-color: #0413ef;
  border-radius: 4px;
  transition: all 0.2 ease-out;
  color: white;
}

.selected a {
  background-color: #0413ef;
  border-radius: 4px;
  color: white;
  left: 0;
  opacity: 1;
  transition: all 0.5 ease;
  z-index: 1;
}

.blog-main {
  width: 70vw;
  min-height: 70vh;
  height: auto;
  margin: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px 30px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding-top: 20px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 60vw;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog-content .info {
  display: flex;
  justify-content: left;
  align-items: center;
}

.blog-content .avatar img {
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-left: 20px;
}

.blog-text {
  margin: 0px 15px 10px 15px;
  text-align: left;
}

.blog-username a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.blog-username a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ADMIN PANEL */

.dodaj-wpis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 60vw;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-wpis {
  width: 100%;
}

.input-wpis textarea {
  margin-top: 20px;
  width: 450px;
  font-size: 1rem;
  resize: none;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
}

.input-wpis textarea:focus,
.input-wpis textarea:valid {
  outline: none;
}

.input-wpis textarea::placeholder {
  text-align: left;
  font-size: 1rem;
  color: #9c9c9c;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
  opacity: 0;
}

.fa-times {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .nav-items {
    height: 300px;
    flex-direction: column;
    z-index: 99;
  }

  .nav-menu {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin-right: 0rem;
  }

  .nav-items .logoF1 {
    width: 100vw;
    text-align: center;
  }

  .blog-main {
    width: 90vw;
  }

  .blog-content {
    width: 80vw;
  }

  /* ADMIN PANEL */

  .dodaj-wpis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .input-wpis textarea {
    margin-top: 20px;
    width: 70vw;
    font-size: 1rem;
    resize: none;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
}
