.public-container,
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.public-main,
.login-main {
  width: 40vw;
  height: 90vh;
  margin: 5vh 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px 30px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.logoF1 {
  margin: 20px;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px #fff;
}

.photo img {
  width: 300px;
  border-radius: 10px;
}

.description {
  font-style: italic;
  margin-bottom: 5px;
}

.my-logo img {
  width: 60px;
  margin: 5px;
}

/* BTN */
.log-btn {
  margin: 20px;
}

.log-btn button {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  height: 65px;
  font-size: 18px;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 900px) {
  .public-main {
    width: 70vw;
    height: 70vh;
    margin: 15vh 0;
  }
}

@media screen and (max-width: 600px) {
  .public-main {
    width: 90vw;
    height: 70vh;
    margin: 15vh 0;
  }
  .photo img {
    width: 200px;
  }
}
