{extends file="main.html"} {block name=content}
<div class="navigation">
  <nav class="nav-items">
    <div class="logoF1">
      <h1>F1Blog<span>🏎️</span></h1>
    </div>
    <ul class="nav-menu">
      <li class="nav-link">
        <a href="{$conf->action_root}blog"
          >{if $user->username == "admin"}Dodaj Wpis{else}Blog{/if}</a
        >
      </li>
      <li class="nav-link">
        <a href="{$conf->action_root}artykuly">Artykuły</a>
      </li>
      <li class="nav-link">
        <a href="{$conf->action_root}ustawienia">Ustawienia</a>
      </li>
      <li class="nav-link"><a href="{$conf->action_root}logout">Wyloguj</a></li>
    </ul>
  </nav>
</div>

<div class="blog-container">
  <div class="blog-main">
    <div class="marcysiox">
      <div class="profile">
        <div class="profile-logo">
          <img src="{$conf->images}/logo.png" />
        </div>
        <div class="profile-username">
          <h3>Marcysiox</h3>
        </div>
      </div>

      <h4>Administrator</h4>
      <p>
        Student Uniwersytetu Ślaskiego na kierunku informatyka. Projektant i
        programista aplikacji webowych. Frontend Developer. W wolnym czasie
        pasjonat Formuły 1. Prywatnie kibic Maxa Verstappena oraz zespołu
        RedBull.
      </p>
    </div>
    {foreach $lista as $tekstBloga}
    <div class="blog-content">
      <div class="info">
        <div class="avatar">
          <img src="{$conf->images}/logo.png" />
        </div>
        <div class="blog-username">
          <h3><a href="">Marcysiox</a></h3>
        </div>
      </div>

      <div class="blog-text">{$tekstBloga["tekst"]}</div>
    </div>
    {/foreach} {if $previous_page > 0}
    <a
      type="button"
      class="pervious"
      href="{$conf->action_root}marcysiox/{$previous_page}"
      >‹</a
    >
    {/if} {if $isNextPage}
    <a
      type="button"
      class="next"
      href="{$conf->action_root}marcysiox/{$next_page}"
      >›</a
    >
    {/if}
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#usersValues").DataTable();
  });
</script>
{/block}
