{extends file="main.html"} {block name=content}
<div class="public-container">
  <div class="public-main">
    <div class="logoF1">
      <h1>F1Blog<span>🏎️</span></h1>
    </div>
    <div class="photo">
      <img src="{$conf->images}/publicF1.jpg" />
    </div>
    <div class="description"><p>"Blog poświęcony tematyce Formuły 1"</p></div>

    <div class="my-logo">
      <img src="{$conf->images}/logo.png" />
    </div>
    <div class="author"><h4>Autor: Marcin Chowaniec</h4></div>
    <div class="log-btn">
      <button onclick="location.href='{$conf->action_url}login'" type="button">
        <span class="text">Logowanie</span>
      </button>
    </div>
  </div>
</div>
{/block}
